[Unit]
Description=Deploy the latest Mimir commit on main
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/mimir/current/deploy/deploy.sh
